body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  color: #3e3e3e;
  font-size: 14px;
  line-height: 1.5em;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

/* header and footer areas */
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  padding: 5px;
}
.menu a:hover {
  text-decoration: underline;
}
.menu, footer { text-align: center; }
footer a { text-decoration: none; }
footer p {
  margin: 0;
}

/* site */

hr {
  border-top: 0;
  border-bottom: 1px solid #ddd;
}
h1,h2,h3 {
  cursor: default;
}
h1 {
  font-size: 24px;
  color: #000;
  font-weight: normal;
}
span {
  text-decoration: none;
}

.article-meta {
  color: #8c8c8c;
  font-size: 16px;
}

footer {
  margin-top: 60px;
  line-height: 24px;
}
footer span{
  vertical-align: text-bottom;
}
