{{ partial "header.html" . }}
<nav>
  <h1><a href="/">NerveMilk</a></h1>
  <a class="menu-btn" onclick="toggleMenu(event)"></a>
  <ul>
    {{ range .Site.Menus.main }}
    <li id="{{ .Identifier }}">
      <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
<div id="post_page">
  <div class="article-meta">
    <h4><span class="id">{{ .Description }}</span></h4>
    <h2><span class="title">{{ .Title }}</span></h2>
  </div>

  <main>
  {{ .Content }}
  </main>

  <a class="back-btn" href="/">< 返回故事集 | Back to Stories </a>
</div>

{{ partial "footer.html" . }}
