{{ partial "header.html" . }}
<nav>
  <h1 class="desktop"><a href="/">NerveMilk</a></h1>
  <h1 onclick="toggleMenu(event)" class="mobile">NerveMilk</h1>
  <ul>
    {{ range .Site.Menus.main }}
    <li id="{{ .Identifier }}">
      <a href="{{ .URL | relURL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
</nav>
<div id="post_page">
  <div class="article-meta">
    <h4><span class="id">{{ .Description }}</span></h4>
    <h2><span class="title">{{ .Title }}</span></h2>
  </div>

  <main>
  {{ .Content }}
  </main>
</div>

{{ partial "footer.html" . }}
