{{ partial "header.html" . }}

<nav id="main_page" onclick="stopHere(event)">
<h1 id="logo"><a id="btn_menu" onclick="toggleMainMenu(event)">Nervemilk</a></h1>
<ul id="menu" class="hide">
  {{ range .Site.Menus.main }}
  <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
  {{ end }}
</ul>
</nav>

{{if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

{{ .Content }}

<ul id="story_list" class="hide">
  {{ range (where .Data.Pages "Section" "!=" "").ByDate  }}
  <li>
    <a href="{{ .URL }}" class="story-item">{{ .Description }}_{{ .Title }}</a>
  </li>
  {{ end }}
</ul>

{{ partial "footer.html" . }}
