{{ partial "header.html" . }} {{ .Content }}
<div id="stories_page">
  <nav>
    <h1><a href="/">NerveMilk</a></h1>
    <a class="menu-btn" onclick="toggleMenu(event)"></a>
    <ul>
      {{ range .Site.Menus.main }}
      <li id="{{ .Identifier }}">
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
  <ul id="story_list" class="hide">
    {{ range (where $.Site.RegularPages "Section" "!=" "").ByDate }}
    <li>
      <a href="{{ .URL }}" class="story-item">{{ .Description }}_{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</div>

<script src="/js/libs/p5.min.js"></script>
<script src="/js/libs/p5.dom.min.js"></script>
<script src="/js/libs/stats.min.js"></script>
<script src="/js/stories.js"></script>
{{ partial "footer.html" . }}
