/** Extra Bold */
@font-face {
  font-family: "Brand";
  font-weight: normal;
  src: url("../fonts/Brand-ExtraBold.otf");
}

body {
    font-family: -apple-system, "San Francisco", Helvetica, Heiti, Arial, sans-serif;
}
