/* Brand Fonts */
@font-face {
  font-family: "Brand-Medium";
  font-weight: normal;
  src: url("../fonts/Brand-Medium.otf");
}
@font-face {
  font-family: "Brand-Heavy";
  font-weight: normal;
  src: url("../fonts/Brand-Heavy.otf");
}

body {
    font-family: -apple-system, "San Francisco", Helvetica, Heiti, Arial, sans-serif;
}
