@import 'reset';
@import 'typography';
// basic
body {
  max-width: 800px;
  margin: auto;
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  padding-top: 120px;
}

a {
  cursor: pointer;
  text-decoration: none;
}
// p5
#p5_loading {
  display: none;
}
// Global
.hide {
  display: none;
}

nav {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background: #ebebeb;

  > a {
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }

  h1 {
    margin: 0 22px;
    color: #000;
    font-size: 22px;
    line-height: 32px;
    font-family: "Brand";
    text-transform: uppercase;
  }
}
// Index Page
#index_page {
  nav {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background: transparent;

    &.expand {
      height: auto;
      background: #ebebeb;
      line-height: auto;

      #cup {
        display: none;
      }

      #menu {
        height: 144px;
        pointer-events: auto;
        h1:hover {
          color: #B3B3B3;
        }
      }
    }

    h1 {
      color: #000;
      font-size: 25px;
      line-height: 32px;
      font-family: "Brand";
      text-transform: uppercase;
      margin: 0;
    }

    #menu {
      padding: 11px;
      width: 160px;
      height: 28px;
      pointer-events: none;
      transition: height 0.3s cubic-bezier(.05, .69, .14, 1);
      h1 {
        font-size: 22px;
      }
    }

    #closeBtn {
      display: block;
      margin-bottom: 16px;
    }
  }
  // wave animation
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }

    from {
      transform: rotate(360deg);
    }
  }

  #cup {
    overflow: hidden;
    position: absolute;
    display: block;
    line-height: 0;
    width: 180px;
    height: 50px;

    #logo {
      position: absolute;
    }

    .milk {
      opacity: 0.4;
      position: absolute;
      top: 3%;
      left: 50%;
      background: #fff;
      width: 500px;
      height: 500px;
      margin-left: -250px;
      transform-origin: 50% 48%;
      border-radius: 43%;
    }

    .milk.one {
      margin-top: 44px;
      animation: drift 3000ms infinite linear;
    }

    .milk.two {
      margin-top: 44px;
      animation: drift 5000ms infinite linear;
    }
  }
}
// Stories Pages
#stories_page {
  #story_list {
    width: 100%;
    overflow: hidden;
    // li {
    //   width: 120%;
    //   height: 45px;
    //   overflow: hidden;
    //   &:nth-child(even) {
    //     transform: translateX(-24px);
    //   }
    //   a {
    //    font-size: 27px;
    //    font-weight: 500;
    //    line-height: 45px;
    //    color: #fff;
    //    padding: 0 6px;
    //    @media screen and (-webkit-min-device-pixel-ratio:0) {
    //      background: linear-gradient(to right, #111, #fff);
    //      background-clip: text;
    //      -webkit-text-fill-color: transparent;
    //    }
    //  }
    // }
  }
}
// Post Page
#post_page {
  position: relative;
  padding-bottom: 111px;

  &:before {
    position: fixed;
    top: 32px;
    height: 111px;
    width: 100%;
    content: "";
    background: linear-gradient(to bottom, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0) 80% );
    pointer-events: none;
    /* so the text is still selectable */
  }

  &:after {
    position: fixed;
    bottom: 0;
    height: 111px;
    width: 100%;
    content: "";
    background: linear-gradient(to top, rgba(0,0,0, 1) 20%, rgba(0,0,0, 0) 80% );
    pointer-events: none;
    /* so the text is still selectable */
  }

  .article-meta {
    text-align: center;

    h1 {
      font-weight: 400;
      font-size: 27px;
      line-height: 30px;
      margin-bottom: 10px;
    }

    h4 {
      font-size: 11px;
      font-weight: 100;
      line-height: 14px;
      margin-top: 12px;

      .title {
        font-weight: 600;
      }

      .author {
        font-weight: 300;
      }
    }
  }

  main {
    padding: 24px;

    p {
      margin-bottom: 18px;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      @media screen and (-webkit-min-device-pixel-ratio:0) {
        background: linear-gradient(to right, #aaa, #fff);
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      em {
        font-style: italic;
      }
    }
  }
}

#submit_page {
  max-width: 600px;
  margin: auto;
  #submit_form {
    display: flex;
    flex-direction: column;
    .block {
      margin-top: 20px;
      label, input, textarea {
        display: block;
        width: 100%;
      }
      label {
        margin-bottom: 5px;
      }
      textarea {
        resize: vertical;
      }
    }
  }
}
