@import 'reset';
@import 'typography';

// basic
body {
  max-width: 800px;
  margin: auto;
  background: #000;
  color: #fff;
  font-size: 14px;
  line-height: 1.5em;
  padding-top: 120px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

// Global
.hide {
  display: none;
}

nav {
  background: #f00;
  position: fixed;
  top: 22px;
  padding: 11px 22px;
  z-index: 1;
  &.expand {
    height: 100%;
  }
  h1, a {
    color: #fff;
    font-size: 25px;
    line-height: 32px;
    font-family: "Toppan Bunkyu";
    text-transform: uppercase;
  }
  a {
  }
  #menu {
    padding: 22px 0;
    a {
      color: #000;
      &:hover {
        color: #fff;
      }
    }
  }
}

// Front Page
#main_page {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

#story_list {
  width: 100%;
  overflow: hidden;
  li {
    width: 120%;
    height: 45px;
    overflow: hidden;
    &:nth-child(even) {
      transform: translateX(-24px);
    }
    a {
     font-size: 27px;
     font-weight: 500;
     line-height: 45px;
     color: #fff;
     padding: 0 6px;
     @media screen and (-webkit-min-device-pixel-ratio:0) {
       background: linear-gradient(to right, #111, #fff);
       background-clip: text;
       -webkit-text-fill-color: transparent;
     }
   }
  }
}

// Post Page
.article-meta {
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  h4 {
    font-size: 11px;
    font-weight: 100;
    line-height: 14px;
    margin-top: 12px;
    .title {
      font-weight: 600;
    }
    .author {
      font-weight: 300;
    }
  }
}

main {
  padding: 24px;
  p {
    margin-bottom: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      background: linear-gradient(to right, #aaa, #fff);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
